*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.container{
    max-width: 100%;
    padding: 0 30px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
     padding: 15px 40px;
     font-size: 16px;
     text-transform: uppercase;
     background-color: #0355CC;
     color: #fff;
     font-weight: 500;
     border: 0;
     transition: 0.5s;
     
}
.btn:hover{
    background-color: transparent;
    border: 1px solid #0355CC;
    color: #0355CC;
}
.des-col{
    flex-basis: 40%;
    & h2{
        font-size: 34px;
        margin-bottom: 25px;
        text-transform: uppercase;
    }
    & p{
        line-height: 28px;
        text-align: left;
        font-size: 15px;
        margin-bottom: 25px;
    }
}
.heading-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 20px;
    i{
        color: #F75604;
    }
    span{
        color: #fff;
    }
}
/* Hero-section */
.hero-section{
    background-color: #D1E3FF;
  

.hero-top{
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h2{
        color: #0355CC;
        text-transform: uppercase;
        font-size: 28x;
    }
    nav ul{
        display: flex;
        margin: 30px 50px;
        
        li{
            list-style: none;
        }
         a{
            text-decoration: none;
            margin-left: 40px;
            color: #000;
            font-size: 16px;
            transition: 0.3s;
        }
        a:hover{
            color: #0355CC;
        }
        .active{
            color: #0355CC;
        }
    }
}
.hero-main{
    display: flex;
    align-items: center;
    position: relative;

    .hero-left{
        width: 50%;

        & h2{
            font-size: 46px;
            color: #0355CC;
            margin-bottom: 30px;
        }
        p{
            font-size: 15px;
            line-height: 22px;
            margin-bottom: 30px;
        }
        .hero-btn{
            background-color: #FF8A1D;
            border-radius: 6px;
            transition: 0.5s;
        }
        .hero-btn:hover{
            background-color: transparent;
            border: 1px solid #FF8A1D;
            color: #FF8A1D;
        }
    }
}
.section-img{
    width: 50%;
    padding-left: 70px;
     img{
        width: 100%;
     }
}
.hero-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: -30%;
    /* margin-bottom: 10px; */

    .card{
        background-color: #fff;
        margin-right: 35px;
        padding: 60px 150px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 140px;
        color: #726dae;
        transition: 0.5s;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        
        i{
            margin-bottom: 25px;
            font-size: 50px;
        }
        span{
            font-size: 20px;
            text-transform: uppercase;
        }
       
    }
    .card:hover{
        background-color: #FF8A1D;
        color: #fff;
    }
}

}
/* about-section */
.about-section{
    padding-top: 200px;
 
    }

.service-section{
    background-color:#D1E3FF ;
    margin-top: 100px;
}